#set($page_title="TASK")
<style>
    body {
        margin: 0;
        font-size: 14px;
        font-family: 'microsoft yahei';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    p {
        margin: 1em;
    }

    .element {
        position: absolute;
        border: 1px solid #7c838b;
        border-radius: 20px;
        width: 30px;
        height: 30px;
        background-color: #7c838b;
        font-size: 12px;
        pointer-events: none;
    }

    .element:before {
        color: #666;
        position: absolute;
        left: 100%;
        top: -10px;
    }

    .target {
        position: absolute;
        width: 40px;
        height: 40px;
        font-size: 12px;
        pointer-events: none;
    }

    .target:before {
        color: #666;
        position: absolute;
        left: 100%;
        top: -10px;
    }

    .online {
        border: 1px solid #34538b;
        background-color: #34538b;
    }

</style>

<div class="page-content">
    <div class="row">
        <div id="main_content" class="col-xs-9" style="border: 1px solid #b5b5b5">
        ##            <p>位置： <span></span></p>

            <div>
            ##                <button id="init">伞兵</button>
            ##                <button id="des">定位</button>
##                <button id="move">找箱子</button>
##                <button id="openBox">打开箱子</button>
            </div>
            <div id="content">
            </div>
        </div>
        <div class="col-xs-3" id="log_div">
            <div style="height: 40%;width:100%;overflow: auto" id="connect_div"></div>
            <div style="height: 60%">
                <textarea id="log" style="width: 100%;height: 100%;" disabled></textarea>
            </div>
        </div>
    </div>

</div>


#define($javascriptBlock)
<script type="text/javascript" src="/reign/statics/pages/sec.js"></script>
#end
